<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortPop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PortPop.Properties.Settings>
            <setting name="balloonTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="isPopupDriveAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPopupDriveRemoved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPopupPortAdded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isPopupPortRemoved" serializeAs="String">
                <value>True</value>
            </setting>
        </PortPop.Properties.Settings>
    </userSettings>
</configuration>